body{
    background-color: #0F172A;
}

h1{
color: #F8FAFC;
}
h2{
    color: #CBD5E1;
}
.gameContiner{
    background-color: #1E293B;
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
.gameContiner:hover{
   box-shadow: 0 0 20px cyan;
}

.container{
    display: grid;
    grid-template-rows: repeat(3,10vw);
    grid-template-columns: repeat(3,10vw);
    justify-content: center;
}
.cell{
    border: 2px solid #64748B;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6vw;
    background-color: #334155;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.bt-0{
    border-top: 0;
}
.bl-0{
    border-left: 0;
}
.br-0{
    border-right: 0;
}
.bb-0{
    border-bottom: 0;
}
.cell:hover{
    background-color: #475569;
    
}
.controls{
    width: 35vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#strt{
font-size: 4vw;
border-radius: 15px;
background-color: #22D3EE;
color: rgb(244, 99, 164);
border: 2px solid #22D3EE;
}
#strt:hover{
    background-color: rgb(244, 99, 164);
    box-shadow: 0 0 15px rgb(250, 6, 116);
    border: 2px solid rgb(244, 99, 164);
    color: #22D3EE;
}
#turnstmnt{
    font-size: 3vw;
    
}
@media (max-width: 600px) {
    .gameContiner {
        flex-direction: column;
        align-items: center;
    }

    .controls {
        width: 100%;
        margin-top: 20px;
    }
}